@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --background: #d8d8d8;
    --foreground: #0d1117;
    --radial-from: rgba(0, 0, 0, 0.02);
    --radial-to: rgba(0, 0, 0, 0.05);
  }

  .dark {
    --background: #0d1117;
    --foreground: #e6edf3;
    --radial-from: rgba(255, 255, 255, 0.05);
    --radial-to: rgba(255, 255, 255, 0.1);

  }
}

@theme {
  --color-background: oklch(16.51% 0.004 278.06);
  --color-foreground: oklch(94.61% 0.015 257.39);

}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(
      circle at center,
      var(--radial-from, rgba(255, 255, 255, 0.05)) 0%,
      var(--radial-to, rgba(255, 255, 255, 0.1)) 25%
    );
  }
}
